{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}