.xmas-row {
  margin-top: -230px;

  &:not(:first-child) {
    margin-left: 30px;
  }

  &:nth-child(odd) {
    animation: snow 8s linear infinite;
  }
}

@keyframes snow {
  100% {
    margin-top: -23px;
  }
}
